.countryCard
{
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 5px;
}

